t7/10.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- New XSD document created with EditiX XML Editor (http://www.editix.com) at Sat Mar 20 17:32:52 WET 2021 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.misitio.com" xmlns="http://www.misitio.com" 
elementFormDefault="qualified">
	
	<xs:element name="pasaje">
		<xs:complexType>
			<xs:attribute name="asiento" type="xs:string" use="required"/>
			<xs:attribute name="ventanilla" type="xs:boolean" default="true"/>
			<xs:attribute name="precio" type="xs:float" use="optional"/>
			<xs:attribute name="moneda" type="xs:string" default="euros"/>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
