t7/3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- New XSD document created with EditiX XML Editor (http://www.editix.com) at Sat Mar 20 11:45:30 WET 2021 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.misitio.com" xmlns="http://www.misitio.com" 
elementFormDefault="qualified">

<xs:element name="persona">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="nombre" type="xs:string"/>
			<xs:element name="apellidos" type="xs:string"/>
			<xs:element name="edad" type="xs:int" default="18"/>
			<xs:element name="fechanacimiento" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
